@font-face {
  font-family: 'Breathing';
  font-style: normal;
  src:local('Breathing'), url(./assets/styles/fonts/Breathing.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Thin';
  font-style: normal;
  src:local('Raleway-Thin'), url(./assets/styles/fonts/Raleway-Thin.ttf) format('truetype');
}

.ribbon {
  position: absolute;
  right: 10px; top: 10px;
  z-index: 1;
  overflow: hidden;
  width: 175px; height: 175px; 
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  color: #fff; 
  text-transform: uppercase; 
  text-align: center;
  font-weight: bold; line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); /* Needed for Safari */
  width: 150px; display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 35px; right: -30px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 2em hsl(0, 0%, 60%));
}

@keyframes logo-spin {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin normal 5s ease-in-out;
  }
  h1 {
    animation: name-attention normal 5s ease-in-out;
  }
}

h1 {
  color: hsl(211, 12%, 48%);
  font-family: Breathing;
}

h2 {
  color: hsl(0, 0%, 60%);
  font-family: 'Raleway-Thin';
  filter: drop-shadow(0 0 2em hsl(0, 0%, 60%));
}
